body{
    background: #000;
    color:greenyellow;
    padding: 0;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
    display: grid;
    align-items: center;
    /* visibility: hidden; */
    place-items: center;
    min-height: 1200px;
    font-size: 30px;
}

header{
    display: grid;
    align-items: center;
    place-content: center;
    font-size: xx-large;
    padding: 40px;
}
footer{
    display: grid;
    align-items: center;
    place-content: center;
    font-size: 40px;
    padding: 20px;
}

.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(10px);
    transform: translateY(-100%);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.box{
    height: 100px;
    width: 100px;
    background-color: bisque;
    visibility: visible;
}

.mainbox{
    display:flex;
    align-items: center;
    gap: 100px;
}

.hidden-horizontal{
    opacity: 0;
    transition: all 1s;
    filter: blur(10px);
    transform: translateX(-100%);
    visibility: hidden;
}

.show-horizontal{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    visibility: visible;
}