/* nav{
    background-color: green;
    width: 100%;
    height: 2em;
    display: flex;   
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background: url(../Assets/background.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 98vw;
  height: auto;
  padding: 0.5em;
  margin: 8px;
  border-radius: 40px;
  background: linear-gradient(
    to bottom,
    rgba(2, 63, 2, 0.703),
    rgba(0, 128, 0, 0.632)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 1.7em;
  margin-left: 10px;
  user-select: none;
}

.navigation a {
  position: relative;
  margin-left: 28px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 32px;
}

.navigation a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -8px;
  border-radius: 12px;
  background: white;
  transform: scaleX(0);
  transition: 0.3s;
}

.navigation a:hover::after {
  transform: scaleX(1);
}

.navigation .btn-loginpopup {
  position: relative;
  background-color: black;
  border: none;
  outline: none;
  font-weight: 500;
  color: white;
  width: 125px;
  height: 40px;
  border-radius: 12px;
  margin-left: 32px;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-loginpopup:hover {
  color: black;
  background-color: white;
}

.logo > img {
  height: 25px;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

a{
  color: white;
}


.wrapper{
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px black;
  justify-content: center;
  align-items: center;
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
  padding-bottom: 5px;
}

.form-box h2{
  font-size: 2em;
  color: rgba(2, 63, 2, 0.703);
  text-align: center;
  font-weight: 700;
}

.input-box{
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid black;
  margin: 40px 0px;

}

.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: rgb(17, 24, 6);
  font-weight: 500;
  pointer-events: none;
  transition: .3s;
}

.input-box input:focus~label, .input-box input:valid~label{
  top:-5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border:none;
  outline: none;
  font-size: 1em;
  color: aliceblue;
  font-weight: 400;
  padding: 0 35px 0 5px;
}

.input-box .icon{
  position:absolute;
  right: 8px;
  font-size: 1.2em;
  color:greenyellow;
  line-height: 40px;
}

.remember-forgot{
  font-size: 0.95em;
    color:white;
  font-weight: 400;
  margin: -30px 0 15px;
  display: flex;
  justify-content: space-around;
  
}

.remember-forgot label input{
  margin-right: 5px;
}

.remember-forgot a{
  text-decoration: none;
  
}

.remember-forgot a:hover{
  text-decoration: underline;
  
}

.btn {
  width: 65%; /* Button's width */
  height: 40px;
  font-size: 1em;
  font-weight: bold;
  margin: 0 auto; /* Centers the button horizontally */
  margin-top: 40px;
  display: block; /* Ensures margin auto works */
  background: linear-gradient(
    to bottom,
    rgba(2, 63, 2, 0.703),
    rgba(0, 128, 0, 0.632)
  );
  border: none;
  border-radius: 15px;
  outline: none;
  transition: .3s;
}
.btn:hover{
  background: #000;
  color:white;
  transform: scale(1.06);
}
.login-register{
  font-size: .9em;
  color:white;
  text-align: center;
  margin: 50px 0 10px;
}